<p id="notice"><%= notice %></p>

<p>
  <strong>Prid:</strong>
  <%= @product.prid %>
</p>

<p>
  <strong>Prname:</strong>
  <%= @product.prname %>
</p>

<%= link_to 'Edit', edit_product_path(@product) , class:'btn btn-info col-xs-offset-1 col-xs-4' %>
<%= link_to 'Back', products_path , class:'btn btn-info col-xs-offset-1 col-xs-4' %>
 